## Python para Data Science: Primeros Pasos.
### Aula 1: Comenzando con Python

1 - Imprime la frase "Escuela de Datos de Alura".

In [1]:
print("Escuela de Datos de Alura")

Escuela de Datos de Alura

2 - Imprime tu nombre y tu apellido siguiendo la estructura a continuación:

```bash
Nombre: [tu nombre]
Apellido: [tu apellido]
```

In [2]:
nombre = "Aldo"
apellido = "Yáñez"

print(f"Nombre: {nombre}")
print(f"Apellido: {apellido}")

Nombre: Aldo
Apellido: Yáñez

3 - Imprime tu primer nombre letra por letra. Por ejemplo, si mi nombre es Álvaro, la salida sería:

```bash
Á
L
V
A
R
O
```

In [3]:
nombre = "Aldo"

for letra in nombre:
    print(letra)

A
l
d
o

4 - Imprime tu fecha de nacimiento en formato día mes año. Recuerda que los valores de día y año no deben estar entre comillas. Suponiendo una fecha de cumpleaños el 28 de febrero de 2003, el formato debe ser como el siguiente:

```bash
28 febrero 2003
```

In [4]:
dia = 21
mes = "agosto"
año = 1984

print(f"{dia} {mes} {año}")

21 agosto 1984

5 - Imprime, en una sola instrucción print, el año actual en el que estás realizando este curso. El valor del año debe ser un dato numérico, y la salida de print debe ser la siguiente:

```bash
Año actual: [año]
```

In [5]:
ano_actual = 2025

print(f"Año actual: {ano_actual}")

Año actual: 2025